<footer>
  <ul class="flex justify-center gap-10 p-3 bg-footerGray text-sm font-semibold">
    <li> Privacy policy </li>
    <li> about </li>
    <li> home </li>
    <li> sign in </li>
    <li> sign up </li>
  </ul>
  <p class="text-center p-4 bg-mainColor text-white">
    survey rails app @2024 | clau fig
  </p>
</footer>